/* farfadet */
/*------------------------------ Responsive --------------------------*/
/* Large screen */
@media screen and (min-width: 992px) {}

/* Medium screen  */
@media screen and (min-width: 768px) {}

/* Small screen */
@media screen and (min-width: 600px) {}

/* Extra small */
@media screen and (max-width: 600px) {}

/*------------------------------ body ----------------------*/

body {
    background-image: url(/Style/img/background.png);
}

/*------------------------------ header ----------------------*/

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #enTete {

} */

/* boutons du header */

#boutons {
    display: flex,;
}

/* #seCo {
    
}

#taPlaylist {
    
} */

th {
    color: white;
}

td {
    color: white;
}

.txt {
    color: white;
}