
/*------------------------------ Responsive --------------------------*/
/* Large screen */
@media screen and (min-width: 992px) {}

/* Medium screen  */
@media screen and (min-width: 768px) {}

/* Small screen */
@media screen and (min-width: 600px) {}

/* Extra small */
@media screen and (max-width: 600px) {}

/*------------------------------ body ----------------------*/

body {
    background-image: url(/Style/img/background.png);
}

/*------------------------------ header ----------------------*/

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {display: flex;
    justify-content: space-around
    }