/*------------------------------ Responsive --------------------------*/
/* Large screen */
@media screen and (min-width: 992px) {}

/* Medium screen  */
@media screen and (min-width: 768px) {}

/* Small screen */
@media screen and (min-width: 600px) {}

/* Extra small */
@media screen and (max-width: 600px) {}

/*------------------------------ body ----------------------*/

body {
    background-image: url(/Style/img/background.png);
}

/*------------------------------ header ----------------------*/

#logo {
    /*--Logo principale --*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-----------------------bouton de recherche----------------------------------------*/
#recherche {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3%;
}

#barreDeRecherche {
    width: 250px;
    /*Largeur */
    height: 30px;
    /*Hauteur */
    padding: 5px;
    /*Espacement interne */
    border-radius: 5px;
    /*Coins arrondis*/
    border: 1px solid #ccc;
    /*Bordure légère */
    font-size: 16px;
    /* Taille de la police */
}

/*----------------------Bouton coloré playlist-----------------------------------*/
.button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: fixed;
    /* Utilisation de position fixe pour qu'il reste en haut à droite même lors du défilement */
    top: 10px;
    /* Distance du bord supérieur */
    right: 10px;
    /* Distance du bord droit */
    z-index: 1000;
    /* Assurez-vous que le bouton est au-dessus des autres éléments */
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-85:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #a830f2;
    left: 0;
    top: 0;
    border-radius: 10px;
}

/*------------------------------------------------------------------------*/

th, td, .txt, label, ul, li, p {
    color: white;
}

/*----------------------------------------------------------*/

div {
   display: flex;
   justify-content: space-around;
}

#boutonMusiqueRock {
    background-color: #14e6db;
}

#boutonMusiquePop{
    background-color:#14e6db

}

#boutonMusiqueFunk{
    background-color:#14e6db

}

#boutonMusiqueLofi{
    background-color:#14e6db

}

#boutonMusiqueRap{
    background-color:#14e6db

}

#boutonMusiqueRapUs{
    background-color:#14e6db

}

#boutonMusiqueWorkout{
    background-color:#14e6db

}

#boutonMusiqueDance{
    background-color:#14e6db

}

#boutonMusiqueElectro{
    background-color:#14e6db

}